.Icon--rounded {
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  transform: scale(1);
}

/* stylelint-disable selector-no-type */
/* not able to add class to svg */

.Icon--rounded svg {
  /* stylelint-disable property-no-vendor-prefix */
  /* different values to non-prefix */
  -moz-transform-origin: 0 0;
  /* stylelint-enable property-no-vendor-prefix */
  transform-origin: center center;
}
